@model dynamic

@{
    ViewBag.Title = "AboutUs";
    
}
<h2>About Us</h2>
<body>
    <div>
        Esta es la Página About Us
        <a href="GotoHome">Ir a Home</a>
        <a href="SeeProduct">Ver Producto</a>
    </div>
</body>

