@model dynamic

@{
    ViewBag.Title = "Home";
    
}
<h2>Home</h2>
<body>
    <div>
        Esta es la Página Home
        <a href="AboutUs">About us</a>
        <a href="SeeProduct">Ver Producto</a>
        
    </div>
</body>
