@model dynamic

@{
    ViewBag.Title = "Producto";
    
}

<h2>Producto</h2>
<body>
<div>
    Esta es la Página Producto
    <a href="GotoHome">Ir a Home</a>
    <a href="AboutUs">About us</a>
</div>
</body>
